extends layout

block content
    .container.book-table
        h1 Add book
        p Fill the information below...
        hr
        form(action="/add_book" method="post")
            .form-group
                .row
                    .col-3
                        p.bold Title
                    .col-6
                        input.form-control.form-control-sm(type='text', name="title")
            .form-group
                .row
                    .col-3
                        p.bold Author
                    .col-6
                        .row
                            .col-4
                                input.form-control.form-control-sm(placeholder='Name', type='text', name="Author_name")
                            .col-4
                                input.form-control.form-control-sm(type='text', placeholder='Address', name="Author_address")
                            .col-4
                                input.form-control.form-control-sm(type='text', placeholder='Nationality', name="Nationality")
            .form-group
                .row
                    .col-3
                        p.bold Cover image
                    .col-6
                        input.form-control-file(type='file', name="cover")
            .form-group
                .row
                    .col-3
                        p.bold Pages number
                    .col-6
                        input.form-control.form-control-sm(type='number', name="pages_no")
            .form-group
                .row
                    .col-3
                        p.bold Category
                    .col-6
                        input.form-control.form-control-sm(type='text', name="category")
            .form-group
                .row
                    .col-3
                        p.bold ISBN
                    .col-6
                        input.form-control.form-control-sm(type='text', name="isbn")
            .form-group
                .row
                    .col-3
                        p.bold Publish year
                    .col-6
                        input.form-control.form-control-sm(type='number', name="publish_year")
            .form-group
                .row
                    .col-3
                        p.bold Edition
                    .col-6
                        input.form-control.form-control-sm(type='text', name="edition")
            .form-group
                .row
                    .col-3
                        p.bold Description
                    .col-6
                        input.form-control.form-control-sm(type='text', name="description")
            .form-group
                .row
                    .col-3
                        p.bold Publisher
                    .col-6
                        .row
                            .col-6
                                input.form-control.form-control-sm(placeholder='Name', type='text', name="Publisher_name")
                            .col-6
                                input.form-control.form-control-sm(type='text', placeholder='Address', name="Publisher_address")


            button.btn.btn-primary(type="submit") Add
        include footer
    // /.container

