#sidebar.col-6.col-md-3.sidebar-offcanvas
    .list-group
        a.list-group-item(href='/')
            i.fa.left.fa-angle-double-up(aria-hidden='true')
            |             All Books
        a.list-group-item(href='#')
            i.fa.left.fa-map-o(aria-hidden='true')
            |             History
        a.list-group-item(href='prog_books')
            i.fa.left.fa-file-code-o(aria-hidden='true')
            |             Programming
        a.list-group-item(href='lit_books')
            i.fa.left.fa-font(aria-hidden='true')
            |             Literature
        a.list-group-item(href='#')
            i.fa.left.fa-child(aria-hidden='true')
            |               Children
        a.list-group-item(href='#')
            i.fa.left.fa-heart(aria-hidden='true')
            |               Romance
        a.list-group-item(href='#')
            i.fa.left.fa-cutlery(aria-hidden='true')
            |               Cookbooks
